<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
    <h1>New Booking for <%= @politician.full_name %></h1>
    <%= simple_form_for [@politician, @booking] do |t| %>
    <%= t.input :start_date, as: :date, html5: true, input_html: {class: "datepicker"} %>
    <%= t.input :end_date, as: :date, html5: true, input_html: {class: "datepicker"} %>
    <%= t.input :topic %>
    <%= t.submit %>
    <% end %>
    <%= link_to "Go back", politician_path(@politician), class: "btn btn-dark" %>
    </div>
  </div>
</div>
