<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12">

<h2>All of your bookings</h2>
  <ol>
    <% current_user.bookings.each do |booking| %>
    <li>
      <p><%= booking.politician.full_name %></p>
      <% days = booking.end_date - booking.start_date %>
      <p>In total<strong> <%= duration = (days / 24 / 60 / 60).to_i %> </strong>days from <em><%= booking.start_date.strftime("%m.%d.%Y") %> </em>until <em><%= booking.end_date.strftime("%m.%d.%Y") %></em></p>
      <p><strong>What will be dealt with:</strong> <%= booking.topic %></p>
      <p>Total cost: <strong><%= booking.politician.price * duration %>,- € </strong></p>
    </li>
    <% end %>
  </ol>
    </div>
  </div>
</div>
  <%= link_to "Go back to main page", root_path, class: "btn-gray-square" %>
