
<div class="row section-fullsize">
    <div class="col-12 col-md-6 imgsector-background" style="background-image: url(https://i.pinimg.com/originals/ec/39/81/ec3981a1796a6731edce52ef29b2942c.png)">
    </div>
  <div class="col-12 col-md-6 box">
      <h2>Are you looking for something special?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate interdum nisl in molestie. Phasellus elementum convallis euismod. Praesent ut rutrum sem. Vivamus vulputate nulla nisl. Sed fringilla neque at ultrices luctus. </p>
      <div class="d-flex flex-wrap justify-content-start">

        <%= link_to "Price", politicians_path(filter: "price"), class: "btn-border-gray" %>
        <%= link_to "Age", politicians_path(filter: "age"), class: "btn-border-gray" %>
        <%= link_to "Location", politicians_path(filter: "location"), class: "btn-border-gray" %>
      </div>
  </div>
</div>

<div class="section mt-4 ">
  <div class="row">

    <% @politicians.each do |politician| %>

      <div class="col-12 col-md-4 mb-3">

          <div class="card-trip">
            <%= image_tag politician.photo_url %>
            <div class="card-trip-infos">
              <div>
                <h2><%= link_to politician.full_name, politician %></h2>
                <p><strong>Location:</strong> <%= politician.location %></p>
              </div>
              <div class="card-trip-pricing">
                <h2>€ <%= politician.price %>,00</h2>
                <p>per day</p>
              </div>
            </div>
          </div>

      </div>
    <% end %>

  </div>
</div>
