<div class="section">
      <%= form_tag politicians_path, method: :get do %>
        <div class="d-flex justify-content-around align-items-center filter">
          <div class="flex-grow-1 pe-4">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a Politician"
            %>
          </div>
          <div class="">
          <%= submit_tag "Search", class: "btn btn-gray-square" %>
          </div>
        </div>
      <% end %>
  </div>

<div class="row section-fullsize">
    <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <%# <div class="col-12 col-md-6 imgsector-background" style="background-image: url(http://www.avishek.asia/seo-blog/wp-content/uploads/2018/12/google-maps-world-smartsync-at-for-google-world-map.jpg)">
    </div> %>
  <div class="col-12 col-md-6 box">
      <h2>Are you ready to find your special someone?</h2>
      <p>You can check all our politicians by order of preference. Do you want to look by location? Just use the filter below!</p>

      <div class="d-flex flex-wrap justify-content-start">

        <%= link_to "Price", politicians_path(filter: "price"), class: "btn-border-gray" %>
        <%= link_to "Age", politicians_path(filter: "age"), class: "btn-border-gray" %>
        <%= link_to "Location", politicians_path(filter: "location"), class: "btn-border-gray" %>
      </div>
  </div>
</div>

<div class="section mt-4 ">
  <div class="row">

    <% @politicians.each do |politician| %>

      <div class="col-12 col-md-4 mb-3">

          <div class="card-trip">
            <%= image_tag politician.photo_url %>
            <div class="card-trip-infos">
              <div>
                <h2><%= link_to politician.full_name, politician %></h2>
                <p><strong>Location:</strong> <%= politician.location %></p>
              </div>
              <div class="card-trip-pricing">
                <h2>€ <%= link_to politician.price, politician %>,00</h2>
                <p>per day</p>
              </div>
            </div>
          </div>

      </div>
    <% end %>

  </div>
</div>
