
<div class="container">
  <div class="row">
    <div class="col-6">
      <div>
        <%= link_to "⭐️", new_user_bookmark_path(@politician) %>
      </div>

      <div>
        <h2><%= @politician.full_name %></h2>

        <p><%= @politician.biography %></p>
      </div>

      <div class="d-flex justify-content-between" >
        <div>
          <h6><b>Age: </b><%= @politician.age %></h6>
          <h6><b>Location: </b> <%= @politician.location %></h6>
        </div>
        <div>
          <h6><b>Reach: </b><%= @politician.reach %> </h6>
          <h6><b>Skills: </b> <%= @politician.skills %></h6>
        </div>
      </div>

      <div>
        <h6>Total price: €<%= @politician.price %></h6>
        <%= link_to "Rent now", new_politician_booking_path(@politician), class: "btn-gray" %>
      </div>
    </div>

    <div class="col-6">
      <%= image_tag @politician.photo_url, alt: "Politician picture", width: 500 %>
    </div>
  </div>

</div>
